flows.json
[
    {
        "id": "ce49a513058c02f3",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6430226aae43279b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1b5cb5193b526e1f",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "93612ee660020fbf",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "f807c3a32a5f4a4a",
        "type": "ui_group",
        "name": "                     Units ",
        "tab": "1b5cb5193b526e1f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "09058e178c21b31e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "0d3bdd018ce96a91",
        "type": "ui_tab",
        "name": "Home2",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b5523be660866fb1",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt3.thingspeak.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "563f6ed6ff6d3f66",
        "type": "ui_group",
        "name": "Input Sensors",
        "tab": "1b5cb5193b526e1f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d7f25f08a7471818",
        "type": "ui_group",
        "name": "Default",
        "tab": "1b5cb5193b526e1f",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5e784723f86de143",
        "type": "mqtt in",
        "z": "ce49a513058c02f3",
        "name": "",
        "topic": "Topic/Voltage",
        "qos": "2",
        "datatype": "auto",
        "broker": "09058e178c21b31e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 100,
        "wires": [
            [
                "02447a97623b5e5a",
                "ef1b192b6ccb49d6"
            ]
        ]
    },
    {
        "id": "02447a97623b5e5a",
        "type": "ui_gauge",
        "z": "ce49a513058c02f3",
        "name": "",
        "group": "563f6ed6ff6d3f66",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Volt",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "240",
        "colors": [
            "#db0000",
            "#e6e600",
            "#23e223"
        ],
        "seg1": "120",
        "seg2": "220",
        "className": "",
        "x": 510,
        "y": 80,
        "wires": []
    },
    {
        "id": "9ac57163826597ac",
        "type": "ui_gauge",
        "z": "ce49a513058c02f3",
        "name": "",
        "group": "563f6ed6ff6d3f66",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Current",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "5",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 500,
        "y": 180,
        "wires": []
    },
    {
        "id": "7039272688efd58b",
        "type": "mqtt in",
        "z": "ce49a513058c02f3",
        "name": "",
        "topic": "Topic/Current",
        "qos": "2",
        "datatype": "auto",
        "broker": "09058e178c21b31e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 180,
        "wires": [
            [
                "9ac57163826597ac"
            ]
        ]
    },
    {
        "id": "a994941a154e49ff",
        "type": "ui_gauge",
        "z": "ce49a513058c02f3",
        "name": "",
        "group": "f807c3a32a5f4a4a",
        "order": 2,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Power",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "300",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#25af2d"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 500,
        "y": 260,
        "wires": []
    },
    {
        "id": "9a7a4438d170085f",
        "type": "mqtt in",
        "z": "ce49a513058c02f3",
        "name": "",
        "topic": "Topic/Power",
        "qos": "2",
        "datatype": "auto",
        "broker": "09058e178c21b31e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 260,
        "wires": [
            [
                "a994941a154e49ff"
            ]
        ]
    },
    {
        "id": "1bdb2ad644b3eeeb",
        "type": "ui_gauge",
        "z": "ce49a513058c02f3",
        "name": "",
        "group": "f807c3a32a5f4a4a",
        "order": 2,
        "width": "4",
        "height": "5",
        "gtype": "wave",
        "title": "Units",
        "label": " Units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#25af2d"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 490,
        "y": 340,
        "wires": []
    },
    {
        "id": "ef1b192b6ccb49d6",
        "type": "debug",
        "z": "ce49a513058c02f3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 40,
        "wires": []
    },
    {
        "id": "f14b7d5d0524eac2",
        "type": "mqtt in",
        "z": "ce49a513058c02f3",
        "name": "",
        "topic": "sense/1",
        "qos": "2",
        "datatype": "auto",
        "broker": "09058e178c21b31e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 340,
        "wires": [
            [
                "1bdb2ad644b3eeeb"
            ]
        ]
    }
]